@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Caveat&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Pacifico&family=Redressed&family=Shizuru&family=Space+Mono:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*O trecho de código acima, zera as configurações de layout*/

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #0000CD, 16.62%, #FF8C00 85.61%);
}

/*o trecho abaixo utilizamos classes para definir o layout,
o que se torna bastante cômodo pois, nesse caso, inserimos uma classe
para cada elemento, mas apenas pra efeito didático, é possível herdar 
o css de uma outra classe apenas igualando as classes*/

.cabecalho{
    display: flex;
    flex-direction: center;
    align-items: flex-end;           /*alinha os itens*de acordo com o inicio do flex*/ 
    justify-content: space-between;  /*ele separa os conteúdos do cabeçalho no caso img e o nav*/
    padding: 0.8%;                   /*aqui definimos o tamanho das bordas do conteúdo utilizando % (explicar)*/
}


.conteudo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: space-between;
    padding: 1%;
}

.conteudo_principal_escrito_titulo_principal{
    font-family: 'Space Mono', monospace;
    text-align: center;
    padding: 2%;
}

.conteudo_principal_escrito_titulo_secundario{
    font-family: 'Space Mono', monospace;
}

.conteudo_secundario{
    padding: 1%;
}

.conteudo_secundario_titulo_secundario{
    font-family: 'Space Mono', monospace;
}

.conteudo_secundario_paragrafo{
    text-align: right;
    margin-top: 0.3%;
}

.rodape{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 0.8%;
}

